<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}title{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-LCPyFKQyML7mqtS+4XytolfqyqSlcbB3bvDuH9vX2sdQMxRonb/M3b9EmhCNNNrV"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/static/css/helper.css" type="text/css">

</head>
<body>

<div class="container">
    <div class="spacing-20"></div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbarApp">
        <a class="navbar-brand" href="/">EA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item {% if page == 1 %}active{% else %}{% endif %}">
                    <a class="nav-link" href="/job/">职位列表</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item {% if page == 2 %}active{% else %}{% endif %}">
                    <a class="nav-link" href="/echarts/">数据分析</a>
                </li>
            </ul>
        </div>

    </nav>

    <div>
        {% block content %}
            write content in here !
        {% endblock %}
    </div>

</div>

{% block other_script %}
    其他js文件放这
{% endblock %}
</body>
</html>