*.pyc
*.xml
local_settings.py
settings.py

data.json
set_data.py
uwsgi.ini
uwsgi.pid
uwsgi.log

collect_static/

.idea/
.vscode/
debug.log

__pycache__/

monitor/config.py

celerybeat-schedule.bak
celerybeat-schedule.dat 
celerybeat-schedule.dir
