<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>访问统计</title>
    <script src="../static/jquery-1.12.4.min.js"></script>
    <link rel="stylesheet" href="../static/bootstrap-3.3.7-dist/css/bootstrap.css">
    <script src="../static/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <link rel="stylesheet" href="../static/font-awesome-4.7.0/css/font-awesome.css">
    <script src="../static/vue-2.4.0.js"></script>
    <script src="../static/vue-resource-1.3.4.js"></script>
    <style>
        body {
            font-family: Georgia, serif;
        }
        
        #info .list-group-item {
            border: 0px;
        }
        
        [v-cloak] {
            display: none;
        }
    </style>
</head>



<body>
    <div class="container">

        <nav class="navbar navbar-default" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="/index/">Pipipip</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">欢迎</a></li>
                    <li><a href="/index/">主页</a></li>
                    <li><a href="/message_board/">留言板</a></li>
                    <li><a href="/archive/">归档</a></li>

                    <li class="active"><a href="/user_statistics/">访问统计</a></li>
                </ul>
                <form class="navbar-form navbar-right" role="search" id="search_bar" action="/search/" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" name="keyword" class="form-control" placeholder="输入文章关键字" required {% if keyword %} value="{{ keyword }}" {% endif %}>
                    </div>
                    <button type="submit" class="btn btn-default" v-on="searchArticle">搜索</button>
                </form>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        {% verbatim %}

        <!-- 页面内容 -->
        <div class="row" id="statistics">
            <div class="col-md-5">
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge" v-text="count">14</span> 网站的总访问次数
                    </li>
                    <li class="list-group-item">
                        <span class="badge" v-text="today_count">14</span> 今天网站被访问的次数
                    </li>
                </ul>
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge" v-text="IP_count">14</span> 访问过网站的总IP个数
                    </li>
                    <li class="list-group-item">
                        <span class="badge" v-text="today_IP_count">14</span> 今天访问网站的IP个数
                    </li>
                </ul>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">访问之最<span class="label label-default"></span></h3>
                    </div>
                    <div class="panel-body" v-for="ip in hot_ip_list">
                        <div v-cloak>{{ ip.ip }} <span class="label label-default pull-right" v-text="ip.count"></span></div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix" id="article">
            <div class="col-md-5 column">
                <div class="panel-group" id="panel-953993">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-953993" href="#panel-element-967575">今日被查看的文章</a>
                            <span class="label label-default pull-right" v-text="count">Label</span>
                        </div>
                        <div id="panel-element-967575" class="panel-collapse collapse">
                            <div class="panel-body" v-for="article in article_url_list" v-cloak>
                                <a v-bind:href="'/article/' + article.id + '/'" v-text="article.title"></a>
                                <span class="label label-default pull-right" v-text="article.count">Label</span>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="panel panel-default">
                        <div class="panel-heading">
                            <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-953993" href="#panel-element-344909">Collapsible Group Item #2</a>
                        </div>
                        <div id="panel-element-344909" class="panel-collapse collapse">
                            <div class="panel-body">
                                Anim pariatur cliche...
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5 column" id="article_list">
                <div class="list-group">
                    <a href="#" class="list-group-item disabled">热门文章</a>
                    <a v-bind:href="'/article/' + art.id + '/'" class="list-group-item" v-for="art in hot_article_list" v-cloak>
                        <span class="badge">{{ art.read_number }}</span> {{ art.title }}
                    </a>
                </div>
            </div>
        </div>
        {% endverbatim %}
    </div>

    <script type="text/javascript">
        var statistics = new Vue({
            el: "#statistics",
            data: {
                count: 0,
                IP_count: 0,
                today_count: 0,
                today_IP_count: 0,
                hot_ip_list: []
            },
            methods: {
                getStatistics() { // 获取网站访问次数
                    var prefix = '/api/user_statistics/';
                    var url1 = prefix + 'interview_count/';
                    var url2 = prefix + 'one_day_visits/';
                    var url3 = prefix + 'hot_ip/';

                    this.$http.get(url1).then(res => {
                        this.count = res.body.count;
                        this.IP_count = res.body.IP_count;
                    })

                    this.$http.get(url2).then(res => {
                        this.today_count = res.body.count;
                        this.today_IP_count = res.body.IP_count;
                    })

                    this.$http.get(url3).then(res => {
                        this.hot_ip_list = res.body;
                    })
                }
            },

            created() {
                this.getStatistics()
            },
        })

        var article = new Vue({
            el: "#article",
            data: {
                count: 0,
                article_url_list: [],
                hot_article_list: []
            },
            methods: {
                getArticleInfo() { // 获取文章访问信息
                    var url = '/api/user_statistics/today_read_article/';

                    this.$http.get(url).then(res => {
                        this.count = res.body.length;
                        this.article_url_list = res.body;
                        console.log(res.body)
                    })
                },

                getHotArticle() { // 获取最热门（阅读数）的文章
                    var url = '/api/blogv2/articles/hot_article/';

                    this.$http.get(url).then(response => {
                        this.hot_article_list = response.body;
                    }, error => {
                        console.log("获取最热门文章出错！");
                    })
                },
            },

            created() {
                this.getArticleInfo();
                this.getHotArticle();
            }
        })
    </script>
</body>

</html>
