{% load extra_filters %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>选择课题 | 学生 | 毕业设计管理系统</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>
    <!-- 导航栏 -->
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">毕业设计管理系统</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/subject/select_subject/">选择课题</a></li>
                    <li><a href="/process/student/">毕业设计过程</a></li>
                    <li><a href="/announcement/student/">公告</a></li>
                    <li><a href="/message_board/student/">师生交流</a></li>
                    <li><a href="/user/student_settings/">个人主页</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/logout/">退出</a></li>
                </ul>
                <div class="navbar-right">
                    <p class="navbar-text">{{ user | get_username }}</p>
                </div>
            </div>

        </div>
    </nav>

    <div class="container" id="subjectList">
        <!-- 筛选表单 -->
        <form action="" class="form-inline">
            <div class="form-group">
                <label for="">课题名称:</label>
                <input type="text" class="form-control" v-model="subjectName">
            </div>
            <div class="form-group">
                <label for=""> 出题教研室:</label>
                <select class="form-control" v-model="office">
                    <option v-for="(item, index) in officeList" :value="item.id" v-text="item.name"></option>
                </select>
            </div>
            <div class="form-group">
                <label for=""> 出题教师:</label>
                <input type="text" class="form-control" v-model="questioner">
            </div>
            <input type="button" class="form-control btn btn-primary" @click="getSubjectList(url)" value="搜索">
            <input type="button" class="form-control btn btn-default" @click="showMySubject" value="我的课题">
        </form>

        <br>

        <!-- 课题表格 -->
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>课题编号</th>
                    <th>课题名称</th>
                    <th>人数</th>
                    <th>出题教研室</th>
                    <th>出题导师</th>
                    <th>确认学生</th>
                    <th>操作</th>
                </tr>
            </thead>

            <tbody>
                <tr v-for="(item, index) in tableData" :key="item.id">
                    <td v-text="item.id"></td>
                    <td><a href="#" v-text="item.subject_name" @click="getSubjectInfo(index)" title="点击显示课题详细信息"></a></td>
                    <td v-text="item.number_of_people"></td>
                    <td v-text="item.office_name"></td>
                    <td><a href="#" v-text="item.teacher_name" :title="item | getInfo"></a></td>
                    <td v-text="item.student_name"></td>
                    <td :title="item | getApplyInfo"><a href="#" v-if="item.apply_student==null" @click="selectSubject(item)">选题</a></td>
                </tr>
            </tbody>
        </table>


        <!--翻页-->
        <div class="row">
                <div class="col-md-10 text-info" style="height: 78px;line-height: 78px;" v-text="'一共'+count+'条记录， 当前'+page+'/'+numPages+'页'">
                </div>

                 <nav class="pull-right col-md-2">
                      <ul class="pagination">
                        <li class="" ref="previousBtn">
                            <a @click.prevent="getSubjectList(previousUrl)">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="active">
                            <a href="#" v-text="page"></a>
                        </li>
                        <li class="" ref="nextBtn">
                            <a @click.prevent="getSubjectList(nextUrl)">
                                <span class="aria-hidden">&raquo;</span>
                            </a>
                        </li>
                      </ul>
                    </nav>
            </div>

        <div class="hiddenData">
            <input type="hidden" name="facultyId" ref="facultyId" value="{{ user | get_faculty }}">
        </div>
    </div>

    <!-- 遮罩层 -->
    <!-- 审批申报表 -->
    <div class="container hidden" id="markForm" ref="markForm">
        <div class="form" role="form">
                <div class="row">
                    <h3 class="text-center">课题详情</h3>
                    <hr>
                </div>
                </div>
                <div class="row">
                <div class="form-group col-md-12">
                    <label for="subject_name" class="">课题名称</label>
                    <input type="text" class="form-control" placeholder="请输入课题名称" v-model="formData.subject_name" required>
                </div>
                </div>

                <div class="row">
                <div class="form-group col-md-6">
                    <label for="teacher" class="">出题教师</label>
                    <div class="form-control" v-text="formData.teacher_name"></div>
                </div>
                <div class="form-group col-md-6">
                    <label for="office">教研室</label>
                    <div class="form-control" v-text="formData.office_name"></div>
                </div>
                </div>

                <div class="row">
                <div class="form-group col-md-6">
                    <label for="number_of_people" class="">课题人数</label>
                    <input type="number" class="form-control" id="number_of_people" placeholder="课题人数" v-model="formData.number_of_people" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="student">已选学生</label>
                    <div class="form-control" v-text="formData.student_name"></div>
                </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-12">
                        <label for="">课题简述</label>
                        <textarea name="" id="" cols="30" rows="5" class="form-control" placeholder="请填写课题简述" v-model="formData.subject_description" required></textarea>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-12">
                        <label for="">预期目标</label>
                        <textarea name="" id="" cols="30" rows="5" class="form-control" placeholder="请填写预期目标" v-model="formData.expected_goal" required></textarea>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-12">
                        <label for="">对学生知识和能力的要求</label>
                        <textarea name="" id="" cols="30" rows="5" class="form-control" placeholder="请填写对学生知识和能力的要求" v-model="formData.require" required></textarea>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-12">
                        <label for="">所需条件</label>
                        <textarea name="" id="" cols="30" rows="5" class="form-control" placeholder="请填写所需条件" v-model="formData.required_conditions" required></textarea>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-12">
                        <label for="">参考资料</label>
                        <textarea name="" id="" cols="30" rows="5" class="form-control" placeholder="请填写参考资料" v-model="formData.references" required></textarea>
                    </div>
                </div>


                <div class="row">
                    <div class="form-group col-md-4 col-md-push-4">
                        <button class="form-control btn btn-primary" title="关闭当前申报表" @click="closeForm">关闭当前</button>
                    </div>
                </div>
            </div>
    </div>


    <!-- 我的课题 -->
    <div class="container hidden" id="mySubject" ref="mySubject">
        <div id="applySubject" ref="applySubject" class="" v-if="applySubject">
            <h3>我的课题 <small>当前申请的课题</small></h3>
            <hr>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>课题编号</th>
                        <th>课题名称</th>
                        <th>人数</th>
                        <th>出题教研室</th>
                        <th>出题导师</th>
                        <th>申请学生</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td v-text="applySubject.id"></td>
                        <td v-text="applySubject.subject_name"></td>
                        <td v-text="applySubject.number_of_people"></td>
                        <td v-text="applySubject.office_name"></td>
                        <td v-text="applySubject.teacher_name"></td>
                        <td v-text="applySubject.apply_student"></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div id="selectSubject" ref="selectSubject" class="" v-if="selectSubject">
            <h3>我的课题 <small>确定的课题</small></h3>
            <hr>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>课题编号</th>
                        <th>课题名称</th>
                        <th>人数</th>
                        <th>出题教研室</th>
                        <th>出题导师</th>
                        <th>确认学生</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td v-text="selectSubject.id"></td>
                        <td v-text="selectSubject.subject_name"></td>
                        <td v-text="selectSubject.number_of_people"></td>
                        <td v-text="selectSubject.office_name"></td>
                        <td v-text="selectSubject.teacher_name"></td>
                        <td v-text="selectSubject.student_name"></td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>


    <script src="/static/js/vue.js"></script>
    <script src="/static/js/axios.min.js"></script>
    <script src="/static/js/select_subject.js"></script>
</body>

</html>